<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.PermissionDao">

    <resultMap id="permissionMap" type="permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keyword" property="keyword"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="findPermissionsByRoleId" resultMap="permissionMap">
        select t_permission.*
        from t_permission,
             t_role_permission
        where t_permission.id = t_role_permission.permission_id
          and t_role_permission.role_id = #{roleId};
    </select>
</mapper>